version: '3.8'

# DEFINIÇÃO DA REDE EXTERNA
networks:
  skillup_net:
    external: true

services:
  # Serviço do Banco de Dados
  db:
    image: postgres:16
    container_name: skillup_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pass1234
      POSTGRES_DB: SkillUpPlusDb
    # MAPEAMENTO DE VOLUME
    volumes:
      - /opt/skillup_db_data:/var/lib/postgresql/data
    networks:
      - skillup_net
    restart: always

  # Serviço da API
  api:
    image: g3n0z/skillup-api:1.0
    
    container_name: skillup_api
    ports:
      - "8080:8080"
    depends_on:
      - db
    
    volumes:
      - /var/lib/docker/gs:/var/www/html
      
    environment:
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=SkillUpPlusDb;Username=postgres;Password=pass1234
    
    networks:
      - skillup_net
    restart: always