version: '3.8'

services:
  db:
    image: postgres:16
    container_name: skillup_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pass1234 
      POSTGRES_DB: SkillUpPlusDb
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: